@font-face {
  font-family: 'PT Sans';
  src: url('/fonts/pt_sans-web-bold-webfont.woff2') format('woff2'),
    url('/fonts/pt_sans-web-bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'PT Sans';
  src: url('/fonts/pt_sans-web-bolditalic-webfont.woff2') format('woff2'),
    url('/fonts/pt_sans-web-bolditalic-webfont.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'PT Sans';
  src: url('/fonts/pt_sans-web-italic-webfont.woff2') format('woff2'),
    url('/fonts/pt_sans-web-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'PT Sans';
  src: url('/fonts/pt_sans-web-regular-webfont.woff2') format('woff2'),
    url('/fonts/pt_sans-web-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
