@import 'reset.css';
@import 'quark/src/styles/typography.pcss';

body {
  min-height: 100vh;
  background-color: $color_light_main;
  font-family: 'PT Sans' Helvetica, Arial, serif;
  -webkit-font-smoothing: antialiased;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'PT Sans', Helvetica, Arial, serif;
    color: $color_main_10;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.5;
  }

  img {
    display: inline-block;
    max-width: 100%;
  }
}

.Container {
  position: relative;
  max-width: 1220px;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: 960px) and (max-width: 1339px) {
    max-width: 880px;
  }

  @media (min-width: 720px) and (max-width: 959px) {
    max-width: 640px;
  }

  @media (max-width: 719px) {
    max-width: 100%;
    margin-left: $gap_small;
    margin-right: $gap_small;
  }
}
